.my{
    margin-top: 60px;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 35%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}