
body{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


::-webkit-scrollbar{
    width: 7px;
}
::-webkit-scrollbar-track{
    color: black;
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: #121212;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}